<!DOCTYPE html>
<html lang="en">

<body>


  <app-header-front></app-header-front>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="400">
      <div class="row">
        <div class="col-xl-6">
          <h1>Easier search and better results with Conference.TN</h1>
          <h2>We are here to help you make the best choices</h2>
          <a href="#conference" class="btn-get-started scrollto">Check our list</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content" data-aos="fade-right" data-aos-delay="100">
              <h3>Your search for the ultimate conferences platform ends here</h3>
              <p>
                Join us to make your next conference an unforgettable success.
              </p>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" div data-aos="fade-left" data-aos-delay="100">
                  <i class='bx bxs-chat'></i>
                  <h4>Exceptional customer service</h4>
                  <p></p>
                </div>
                <div class="col-md-6 icon-box" div data-aos="fade-left" data-aos-delay="200">
                  <i class='bx bx-signal-5'></i>
                  <h4>Always up to date</h4>
                  <p></p>
                </div>
                <div class="col-md-6 icon-box" div data-aos="fade-left" data-aos-delay="300">
                  <i class='bx bxs-star'></i>
                  <h4>Recognitions</h4>
                  <p></p>
                </div>
                <div class="col-md-6 icon-box" div data-aos="fade-left" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Data Privacy, Security ,
                    Performance</h4>
                  <p></p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



   


    <!-- ======= Portfolio Section ======= -->
    <section id="conference" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Conferences</h2>
          <p></p>
        </div>

        <div class="row portfolio-container" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" *ngFor="let conf of conferences">
            <div class="portfolio-wrap">
              <a [routerLink]="['/detail',conf.id]">
                <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                      class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a [routerLink]="['/detail',conf.id]" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </a>
            </div>
            <p><strong><h4>{{conf.title}}</h4></strong></p>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->



     <!-- ======= Tabs Section ======= -->
     <section id="tabs" class="tabs">
      <div class="container">
        <div class="section-title">
          <h2>Highlights</h2>
          <p></p>
        </div>

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="ri-hospital-fill"></i>
              <h4 class="d-none d-lg-block">ICCCI 2022 - Innov-Healthcare 2022</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <i class="ri-computer-fill"></i>
              <h4 class="d-none d-lg-block">IEEE CIVEMSA 2020</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="ri-smartphone-fill"></i>
              <h4 class="d-none d-lg-block">Pariatur explica nitro dela</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Nostrum qui dile node</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos-delay="100">
                <h3> Innovative use of Machine Learning and Deep Learning for Healthcare Empowerment</h3>
                <p class="fst-italic">
                  ICCCI 2022 - Innov-Healthcare 2022 falls under the following areas: MACHINE LEARNING, DEEP LEARNING,
                  HEALTHCARE, MEDICAL, etc.
                  Other Details of the ICCCI 2022 - Innov-Healthcare 2022
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Short Name: ICCCI 2022 - Innov-Healthcare 2022</li>
                  <li><i class="ri-check-double-line"></i> Full Name: Innovative use of Machine Learning and Deep
                    Learning for Healthcare Empowerment - 14th International Conference on Computational Collective
                    Intelligence (ICCCI 2022)
                  </li>
                  <li><i class="ri-check-double-line"></i>Timing: 09:00 AM-06:00 PM </li>
                  <li><i class="ri-check-double-line"></i>Location/Address: Hammamet - Tunisia </li>

                </ul>

                <p>


                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos-delay="200">
                <img src="/assets/img/tabs-1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>IEEE International Conference on Computational Intelligence and Virtual Environments for Measurement
                  Systems and Applications</h3>

                <p class="fst-italic">
                  IEEE CIVEMSA 2020 falls under the following areas: COMPUTATIONAL INTELLIGENCE, VIRTUAL ENVIRONMENTS,
                  MEASUREMENT, DEEP LEARNING, etc.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Short Name: IEEE CIVEMSA 2020</li>
                  <li><i class="ri-check-double-line"></i>Full Name: IEEE International Conference on Computational
                    Intelligence and Virtual Environments for Measurement Systems and Applications</li>
                  <li><i class="ri-check-double-line"></i> Timing: 09:00 AM-06:00 PM </li>
                  <li><i class="ri-check-double-line"></i> Location/Address: Tunis, Tunisia</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/assets/img/tabs-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Voluptatibus commodi ut accusamus ea repudiandae ut autem dolor ut assumenda</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a.
                    Ipsum neque dolor voluptate nisi sed.</li>
                </ul>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/assets/img/tabs-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                    pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/assets/img/tabs-4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Tabs Section -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <section id="faq" class="faq">
          <div class="container">

            <div class="section-title">
              <h2>Frequently Asked Questions</h2>
            </div>
            <ul class="faq-list accordion">

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">What is conference in simple
                  words? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Its a meeting of two or more persons for discussing matters of common concern. The president is in
                    conference with his advisers. : a usually formal interchange of views : consultation.</p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">What is the main objective of
                  conference? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Its primary purpose is to give participants a measurable goal that they can work on achieving
                    together. </p>
                </div>
              </li>



              <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed"> What are the benefits of
                  conferences?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>

                    Networking<br>
                    Expand your knowledge, learn, and improve<br>
                    Get insights into the latest trends<br>
                    Level up your CV<br>
                    ...
                  </p>
                </div>
              </li>



              <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">How long is a conference
                  meeting?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    The average conference call lasts 45-60 minutes.</p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">How big is a conference?<i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Conferences can range in size from less than fifty attendees to tens of thousands of attendees.</p>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">What is difference between meeting
                  and conference? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    While a meeting is less formal, it is important for a conference to be more formal. This is because
                    a conference is on a larger scale and pre-planned to allow the maximum number of people to attend.
                    The reason for this is usually that a conference is based around a specific subject. </p>
                </div>
              </li>

            </ul>

          </div>
        </section>
      </div>
    </section><!-- End Pricing Section -->





    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p></p>
        </div>

        <div class="row" >

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>Conference.TN@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+216 56 43 56 54</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" >
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



  </main><!-- End #main -->

  <app-footer-front></app-footer-front>


</body>

</html>