<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .center {
      margin: auto;
      width: 60%;
      border: 3px solid #bb1212;
      padding: 10px;
    }
  </style>
</head>

<body>
  <app-header-front></app-header-front>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Conference Details</li>
        </ol>
        <h2>Conference Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

             <div class="swiper-slide" *ngFor="let con of conferances ;let i = index;">
             <img [src]="listImages[currentConference.id]" alt="">
                </div>
              </div>
              
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Conference information</h3>
              <ul>
                <li><strong>Title:</strong>{{currentConference.title}} </li>
                <li><strong>Location/Address:</strong>{{currentConference.location}}</li>
                <li><strong>Number of available places:</strong>{{currentConference.nbPlace}}</li>
                <li><strong>Host:</strong>{{currentConference.guest}} </li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Description</h2>
              <p>
                {{currentConference.description}}

              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Participate</h2>
          <p></p>
        </div>



        <div class="center">

          <div class="col-lg">
            <form  role="form" class="php-email-form">
              <div class="row">
                <div class="form-group">
                  <input type="text"  [(ngModel)]="currentConference" class="form-control" required>
                </div>
                <div class="col form-group">
                  <p><strong>Name</strong></p>
                  <input type="text" [(ngModel)]="newpart.nompart" placeholder="Your full name"name="id" class="form-control">
                </div>
                <div class="col form-group">
                  <p><strong>Phone Number</strong></p>
                  <input type="email" [(ngModel)]="newpart.numtel" class="form-control" name="email" id="email" placeholder="Phone Number" required>
                </div>
              </div>
              <div class="form-group">
                <p><strong>E-mail</strong></p>
                <input type="text" [(ngModel)]="newpart.email" class="form-control" name="subject" id="subject" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <p><strong>Adress</strong></p>
                <input type="text" [(ngModel)]="newpart.adress" class="form-control" name="subject" id="subject" placeholder="Adress" required>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" (click)="addParticipant()">Participate</button></div>
            </form>
          </div>

        </div>
      </div>

    </section>

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

      <app-footer-front></app-footer-front>

</body>

</html>