
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3><span>C</span>onference<span>.TN</span></h3>
                    <p>
                        <strong>Phone:</strong> +216 56 43 56 54<br>
                        <strong>Email:</strong> Conference.TN@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-1 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <br>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                    </ul>
                </div>

                <div class="col-lg-1 col-md-6 footer-links">
                    <br><br>
                    <ul>
                        <li></li>
                        <li></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#conference">Conferences</a></li>

                    </ul>
                </div>

                <div class="col-lg-1 col-md-6 footer-links"><br><br>
                    <ul>
                        <li></li>
                        <li></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#tabs">Highlights</a></li>
                    </ul>
                </div>

                <div class="col-lg-1 col-md-6 footer-links"><br><br>
                    <ul>
                        <li></li>
                        <li></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                    </ul>
                </div>
                <div class="col-lg-1 col-md-6 footer-links"><br><br>
                    <ul>
                        <li></li>
                        <li></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
                    </ul>
                </div>




            </div>
        </div>
    </div>


</footer><!-- End Footer -->

